<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->

    <link rel="stylesheet" href="../static/css/backgroundstyle.css">
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4G5DVR6FCK"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4G5DVR6FCK');
</script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 FOUND</title>
    <script src="https://kit.fontawesome.com/e674bba739.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    
    <style>
        .design-card {
          transition: 0.3s ease; /* Add a smooth transition effect */
        }
  
        .enlarge {
          transform: scale(1.1); /* Increase the size to 110% when clicked */
        }
      </style>
</head>

<body>
    <section id="header">
        <div class="navbar-title animate-on-scroll">
            <h3 class="title-first-name">404 FOUND</h3>
        </div>
        <div>
          <ul class="navbar-menu">
            <li><a href="/back_to_index" class="profile-card-active">Home</a></li>
            <li><a class="profile-card-active" href="#introduction">Introduction</a></li>
            <li><a class="profile-card-active" href="#skill"> Amplification </a></li>
            <li><a href="/project" class="profile-card-active">Project</a></li>
        </ul>
        </div>
        <div>
            <ul class="social-media">
                <li>
                    <i class="fa-brands fa-linkedin-in"></i>
                    <a href="#" target="_blank">LinkedIn</a>
                </li>
                <li>
                    <i class="fa-brands fa-github"></i>
                    <a href="#" target="_blank">Github</a>
                </li>
                <li>
                    <i class="fa-regular fa-envelope"></i>
                    <a href="#">Email</a>
                </li>
            </ul>
        </div>
    </section>
    <section id="content-body">
        <div class="body-part-1 animate-on-scroll">
            <div class="developer-intro">
                <p>SIH 2023</p>
                <p>PS1415</p>
            </div>
            <div class="body-title animate-on-scroll">
                <!-- <h1>Talk is cheap<br>Show me the code</h1> -->
                <h1>Development of motion amplification video <br>techniques for vibration analysis</h1>
                <p>Scroll down to explore</p>
                <a href="#">LET'S Connect!</a>
            </div>
            <div class="body-tail">
                <h1>+
                </h1>
                <p>Mahindra<br>University</p>
                <h1>+</h1>
                <p>Hyderabad<br>Telengana</p>
            </div>
        </div>
        <div class="body-part-2 animate-on-scroll">
            <div class="container">
                
                <div class="svg-animation2">
                  <img src="../static/assets/cyber.svg">
                </div>
              
                
                
              </div>
            </div>
         
      
    </section>
    <section id="introduction">
        
        <div class="heading-container animate-on-scroll">
            <h3 class="section-heading">Problem Statement</h3>
            <p>Perfect solutions for digital experience</p>
           
        </div>
        
        <div class="cards-container animate-on-scroll">
        <div class="cards">
           
            <div class="design-card active animate-on-scroll">
                <div>
                    <h3>Description</h3>
                    <i class="fa-solid fa-wand-magic-sparkles"></i>
                </div>
                <p>Motion Amplification video (MAV) is a technique for visualizing and measuring vibration of structures and machinery. This processes a video clip of an object, extracts feature that are moving from frame to frame, then amplifies and replays the motion in each frame. Defects at micro scales are rendered visible. Vibration amplitudes and mode shape can be thereafter be determined. Time waveform and FFT spectrum can also be captured. This would be extremely useful in evaluating noise, vibration and shock on various platforms. It is also useful in automobile, power plants, industry and other engineering sectors.
            </div>
        </div>
    </div>
        
        </div>
        <div class="image-container animate-on-scroll">
            <div class="body-part-2">
                <div class="container">
                    
                    <div class="svg-animation2">
                      <img src="../static/assets/SIH.svg">
                    </div>
                  
                </div>
                    
                  </div>
                </div>
    </section>
    <section id="skill" class="animate-on-scroll">
        
          
        <div class="heading-container animate-on-scroll">
          <h3 class="section-heading">Approach</h3>
        </div>
        <div class="image-container animate-on-scroll">
          <div class="body-part-2">
            <img src="..\static\assets\output_heatmap12.gif" alt="Description of GIF">
          </div>
        </div>
        <div class="cards-container animate-on-scroll">
          <div class="cards">
            <div class="design-card active id="motion-magnification">
              <div>
                <h3>Motion Magnification</h3>
                <i class="fa-solid fa-wand-magic-sparkles"></i>
              </div>
              <p>Threat Detection • Network Security • Cybersecurity Architecture • Ethical Hacking • Social Engineering • Information Security Management System (ISMS) • IT Audit • IT Security Assessments • Penetration Testing</p>
            </div>
            <div class="design-card animate-on-scroll" id="motion-amplification">
              <div>
                <h3>Motion Amplification</h3>
                <i class="fa-solid fa-wand-magic-sparkles"></i>
              </div>
              <p>Java • MATLAB • SQL • Full-Stack Development • JavaScript • HTML • Cascading Style Sheets (CSS) • Front-End Development • PHP</p>
            </div>
            <div class="design-card animate-on-scroll" id="analysis">
              <div>
                <h3>Analysis</h3>
                <i class="fa-solid fa-wand-magic-sparkles"></i>
              </div>
              <p>Google Cloud Platform (GCP) • Adobe Photoshop • Computer Science • Software Development • English • Project Management • Engineering • Communication • Training • Leadership • Marketing • Customer Service • Microsoft Office</p>
            </div>
          </div>
        </div>
      </section>
      
    <section id="footer">
        <div class="footer-left animate-on-scroll">
            <form
            action="https://formspree.io/f/mjvqwrob"
method="POST">
            <h2>Contact us</h2>

            <div class="email-form">
                   
                <h2>Start by <span>saying hi</span></h2>
               
                <input type="text" name="name" id="" placeholder="Your name">
                <input type="email" name="email" id="" placeholder="Email Address">
                <div>
                    <input type="number" name="phone-number" id="" placeholder="Phone number">
                    <button type="submit">Send</button>
                </div>
                    </form>
            </div>

            <div class="footer-title animate-on-scroll">
                <h3 class="title-first-name">
                    404
                </h3>
                <h3 class="title-last-name">
                  FOUND
                </h3>
            </div>
        </div>
        <div class="footer-right animate-on-scroll">
            <div class="footer-email-intro">
                <p>Information</p>
                <h6>Hyderabad, Telenngana </h6>
                <h3>404FOUND@gmail.com</h3>
            </div>
            <div class="footer-nav-menu animate-on-scroll">
                <ul class="footer-menu">
                    <li><a class="profile-card-active" href="#aboutme"> About </a></li>
                    <li><a class="profile-card-active" href="#introduction">Works</a></li>
                    <li><a class="profile-card-active" href="#skill">Skills</a></li>
                  
                </ul>
            </div>
            <div class="social-icons animate-on-scroll">
                <a href="#" target="_blank">
                    <i class="fa-brands fa-linkedin-in"></i>
                </a>
                <a href="#" target="_blank">
                    <i class="fa-brands fa-github"></i>
                </a>
                
              
                <a href="#" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            
            </div>
        </div>
    </section>
    


    <div class="area" >
        <ul class="circles">
            <li><img src="./static/assets/gear-svgrepo-com.svg" class="gear1"></li>
            <li><img src="./static/assets/gear-svgrepo-com.svg" class="gear2"></li>
            <li><img src="./static/assets/gear-svgrepo-com.svg" class="gear3"></li>
            <li><img src="./static/assets/gear-svgrepo-com.svg" class="gear4"></li>
            <li><img src="./static/assets/gear-svgrepo-com.svg" class="gear5"></li>
            <li><img src="./static/assets/gear-svgrepo-com.svg" class="gear6"></li>
            <li><img src="./static/assets/gear-svgrepo-com.svg" class="gear7"></li>
            <li><img src="./static/assets/gear-svgrepo-com.svg" class="gear8"></li>
            <!-- Add more gear images and assign different classes -->
        </ul>
    </div>
    
    <script src="..\static\js\script.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="..\static\js\script3.js"></script>
</body>

</html>